<div class="container-button-auth">
  <mat-card style="text-align: center; margin-top: 100px;" class="auth-card">
    <form>
      <div class="logo-auth"></div>
      <div class="group-margin"><span class="sub-title-logo">Inscreva-se</span></div>
      <mat-form-field class="container-auth">
        <input matInput placeholder="Nome" name="name" [(ngModel)]="auth.name">
      </mat-form-field>

<!--      <mat-form-field class="container-auth">-->
<!--        <input matInput placeholder="Email" name="username" [(ngModel)]="auth.username" type="email">-->
<!--      </mat-form-field>-->

      <mat-form-field class="container-auth">
        <input matInput placeholder="Email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher">
        <mat-hint></mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Por favor insira um endereço de e-mail válido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          O email é <strong>obrigatório</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="container-auth">
        <input matInput placeholder="Senha" name="password" [(ngModel)]="auth.password" type="password">
      </mat-form-field>
    </form>

    <div fxLayout="row" fxLayoutAlign="center" class="button-auth">
      <button (click)="save()" class="bt-login">Salvar</button>
    </div>
  </mat-card>
</div>


