<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Menu</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/register-schedule'"> Agendamento </a>
      <a mat-list-item [routerLink]="'/register-doctor'"> Doutor </a>
<!--      <a mat-list-item [routerLink]="'/register-specialty'"> Especialidades Doutor </a>-->
      <a mat-list-item (click)="logout()" mat-list-item>Sair</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


